CONVEX_DEPLOYMENT=""

VITE_CONVEX_URL=""

VITE_CONVEX_SITE_URL=""

BETTER_AUTH_SECRET=""

SITE_URL=""

VITE_SITE_URL=""

GOOGLE_CLIENT_ID=""

GOOGLE_CLIENT_SECRET=""

VITE_PUBLIC_POSTHOG_KEY=""

VITE_PUBLIC_POSTHOG_HOST=""

STRIPE_SECRET_KEY=""

STRIPE_WEBHOOK_SECRET=""